body{
    background-color: #1c1c1e !important;
    color: #cbcbcb !important;
}
table, tr, th, td{
    border-color: #494040 !important;
}
input[type="email"], 
input[type="text"], 
input[type="password"] {
  background-color: #333;
  color: #fff;
  border: #494040;
}

input[type="email"]:focus,
input[type="text"]:focus, 
input[type="password"]:focus {
  outline: none;
  background-color: #333;
  box-shadow: 0 0 10px #fff;
}
input:-internal-autofill-selected {
  background-color: #333 !important;
}
footer {
    background-color: #222;
}